@using Screen.Vc.Extensions;
@using Screen.Vc.WebRole.Source;

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div id="notify-container" class="notify-container"></div>
            <div class="header">
                <div class="float-left">
                    <p class="site-title">@Html.ActionImage("Index", ControllerNames.Home, "~/Images/ScreenVcLogo.png", "LogoImage here")</p>
                </div>
                <div class="float-right">
                    <div class="headerSearch"><input type="text" placeholder="Search..." /></div>
                    @*<section id="login">
                        @Html.Partial("~/Views/Entrepreneur/_EntrepreneurLoginPartial.cshtml")
                    </section>*@
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("HOME", Actions.Index, ControllerNames.Entrepreneur)</li>
                            <li>@Html.ActionLink("BROWSE PROJECTS", EntrepreneurActions.BrowseProjects, ControllerNames.Entrepreneur)</li>
                            <li>@Html.ActionLink("MY FAVORITE", EntrepreneurActions.RegisterCompany, ControllerNames.Entrepreneur)</li>
                            <li>@Html.ActionLink("HISTORY", "About", "Home")</li>
                            <li>@Html.ActionLink("ABOUT US", Actions.About, "Home")</li>
                            <li>@Html.ActionLink("CONTACT US", Actions.Contact, "Home")</li>
                            @if (Request.IsAuthenticated)
                            {
                                <li>
                                @Html.ActionLink("My Profile", UserProfileActions.UserProfileAjax, ControllerNames.Entrepreneur)</li>
                                
                                <li>
                                @Html.ActionLink("Companies", Actions.Index, ControllerNames.Company)</li>
                            }
                            
                        </ul>
                    </nav>
                </div>
                <br class="clear" />
            </div>
        </header>
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
            @RenderBody()
            </section>
        </div>
        <footer class="footer">
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title-footer">@Html.ActionImage("Index", ControllerNames.Home, "~/Images/ScreenVcLogo.png", "Logo")</p>
                </div>
                <br class="clear"/>
                <ul>
                    <li>@Html.ActionLink("HOME", Actions.Index, ControllerNames.Entrepreneur)</li>
                    <li>@Html.ActionLink("BROWSE PROJECTS", EntrepreneurActions.BrowseProjects, ControllerNames.Entrepreneur)</li>
                    <li>@Html.ActionLink("MY FAVORITES", EntrepreneurActions.RegisterCompany, ControllerNames.Entrepreneur)</li>
                    <li>@Html.ActionLink("HISTORY", Actions.Index, ControllerNames.Entrepreneur)</li>
                    <li>@Html.ActionLink("ABOUT US", Actions.Index, ControllerNames.Entrepreneur)</li>
                    <li>@Html.ActionLink("CONTACT US", Actions.Index, ControllerNames.Entrepreneur)</li>
                </ul>
                <ul>
                    <li>@Html.ActionLink("HOME", Actions.Index, ControllerNames.Entrepreneur)</li>
                    <li>@Html.ActionLink("BROWSE PROJECTS", EntrepreneurActions.BrowseProjects, ControllerNames.Entrepreneur)</li>
                    <li>@Html.ActionLink("MY FAVORITES", EntrepreneurActions.RegisterCompany, ControllerNames.Entrepreneur)</li>
                    <li>@Html.ActionLink("HISTORY", Actions.Index, ControllerNames.Entrepreneur)</li>
                    <li>@Html.ActionLink("ABOUT US", Actions.Index, ControllerNames.Entrepreneur)</li>
                    <li>@Html.ActionLink("CONTACT US", Actions.Index, ControllerNames.Entrepreneur)</li>
                </ul>
                <ul>
                    <li>@Html.ActionLink("HOME", Actions.Index, ControllerNames.Entrepreneur)</li>
                    <li>@Html.ActionLink("BROWSE PROJECTS", EntrepreneurActions.BrowseProjects, ControllerNames.Entrepreneur)</li>
                    <li>@Html.ActionLink("MY FAVORITES", EntrepreneurActions.RegisterCompany, ControllerNames.Entrepreneur)</li>
                    <li>@Html.ActionLink("HISTORY", Actions.Index, ControllerNames.Entrepreneur)</li>
                    <li>@Html.ActionLink("ABOUT US", Actions.Index, ControllerNames.Entrepreneur)</li>
                    <li>@Html.ActionLink("CONTACT US", Actions.Index, ControllerNames.Entrepreneur)</li>
                </ul>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)

</body>
</html>
