@using Screen.Vc.WebRole.Source;
@model Screen.Vc.WebRole.Models.RegisterCompanyPage

@{
    ViewBag.Title = "RegisterCompany";
    Layout = "~/Views/Entrepreneur/_Layout.cshtml";
}

<h2 class="companyd_regheading pageHeading">Register a new company</h2>
<div class="float-left projectLeft company_reg">
    <div class="recentlyUploaded first">
        <div class="sectionheading">Company Details</div>
       <section class="companydetails">
           <div class="companyname">
              <label class="grid_a">Company name:</label>
               @Html.TextBox("companyname", null, new { @class = "grid_b" })
           </div>
           <div class="companylogo">
               <label class="grid_a">Company logo:</label>
               <input type="file" style="display:none" >
               <button class="grid_b" type="button">Upload</button>
           </div>
           <div class="pitchvideo">
               <label class="grid_a">Pitch Video:</label>
               <button class="grid_b" type="button">Upload</button>
               <span class="pitchor">or</span>
               @Html.TextBox("pitchvideo", null, new { @class = "pitchupload", placeholder = "insert url here..." })
           </div>
           <div class="companydesc">
               <label class="grid_a">Description:</label>
               @Html.TextArea("companydesc", null, new { @class = "grid_b" })
           </div>
        </section>
    </div>
    <div class="bottom">
        <div>
            <span>@Html.ActionLink("Edit", EntrepreneurActions.RegisterCompany, ControllerNames.Entrepreneur)|</span>
            <span>@Html.ActionLink("Preview", EntrepreneurActions.RegisterCompany, ControllerNames.Entrepreneur)|</span>
            <span>@Html.ActionLink("Unpublish", EntrepreneurActions.RegisterCompany, ControllerNames.Entrepreneur)</span>
            <span class="save" style="margin-top: -3px;">@Html.ActionLink("Save", EntrepreneurActions.RegisterCompany, ControllerNames.Entrepreneur)</span>
        </div>
    </div>

    <div class="recentlyUploaded">
        <div class="sectionheading">Financial</div>
        <section class="companydetails">
            <div class="description">
                <label class="grid_a">Description:</label>
                @Html.TextArea("companydetails", null, new { @class = "grid_b" })
            </div>
            <div class="financial_files">
                <label class="grid_a">Files:</label>
                <button class="grid_b" type="button">Upload</button>
            </div>
        </section>

    </div>
    <div class="bottom">
        <div>
            <span>@Html.ActionLink("Edit", EntrepreneurActions.RegisterCompany, ControllerNames.Entrepreneur)|</span>
            <span>@Html.ActionLink("Preview", EntrepreneurActions.RegisterCompany, ControllerNames.Entrepreneur)|</span>
            <span>@Html.ActionLink("Unpublish", EntrepreneurActions.RegisterCompany, ControllerNames.Entrepreneur)</span>
            <span class="save">@Html.ActionLink("Save", EntrepreneurActions.RegisterCompany, ControllerNames.Entrepreneur)</span>
        </div>
    </div>

    <div class="recentlyUploaded">
        <div class="sectionheading">Background</div>
        <section class="background">
            <div class="description">
                <label class="grid_a">Description:</label>
                @Html.TextArea("description", null, new { @class = "grid_b" })
            </div>
            <div class="background_files">
                <label class="grid_a">Files:</label>
                <button class="grid_b" type="button">Upload</button>
            </div>
        </section>

    </div>
    <div class="bottom">
        <div>
            <span>@Html.ActionLink("Edit", EntrepreneurActions.RegisterCompany, ControllerNames.Entrepreneur)|</span>
            <span>@Html.ActionLink("Preview", EntrepreneurActions.RegisterCompany, ControllerNames.Entrepreneur)|</span>
            <span>@Html.ActionLink("Unpublish", EntrepreneurActions.RegisterCompany, ControllerNames.Entrepreneur)</span>
            <span class="save">@Html.ActionLink("Save", EntrepreneurActions.RegisterCompany, ControllerNames.Entrepreneur)</span>
        </div>
    </div>


    <div class="recentlyUploaded faq">
        <div class="sectionheading">F.A.Q.</div>
        @Html.TextBox("faqTextBox", null, new {@class="faqtextbox" })
        @Html.TextArea("faqDesc", null, new { @class = "faqtextbox" })
        <button class="grid_b faqbutton" type="button">Save</button>
        <button class="grid_b faqbutton addnew" type="button">Add new</button>
    </div>
    <div class="bottom last">
        <div>
            <span>@Html.ActionLink("Edit", EntrepreneurActions.RegisterCompany, ControllerNames.Entrepreneur)|</span>
            <span>@Html.ActionLink("Preview", EntrepreneurActions.RegisterCompany, ControllerNames.Entrepreneur)|</span>
            <span>@Html.ActionLink("Unpublish", EntrepreneurActions.RegisterCompany, ControllerNames.Entrepreneur)</span>
            <span class="save">@Html.ActionLink("Save", EntrepreneurActions.RegisterCompany, ControllerNames.Entrepreneur)</span>
        </div>
    </div>
</div>
<br class="clear" />
