@using Screen.Vc.Extensions;
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Screen.Vc</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="page-container">
            <div id="notify-container" class="notify-container"></div>
            @if (!Request.IsAuthenticated)
            {
                <div class="authentication-container"></div>
            }
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionImage("Index", "Home", "~/Images/ScreenVcLogo.png", "LogoImage here")</p>
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <!--
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            -->
                            <li>@Html.ActionLink("Investors", "Index", "Investor")</li>
                            <li>@Html.ActionLink("Entrepreneurs", "Index", Screen.Vc.WebRole.Source.ControllerNames.Entrepreneur)</li>
                            <!--
                            <li>@Html.ActionLink("About Us", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                            -->
                        </ul>
                    </nav>
                </div>
            </div>
            <div id="body">
                <section class="content-wrapper main-content clear-fix">
                @RenderBody()
                </section>
            </div>

        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Screen.Vc.</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
