@using Screen.Vc.Extensions;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Screen.Vc</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="page-container main-header">
        <div id="notify-container" class="notify-container"></div>
        @if (!Request.IsAuthenticated)
        {
            <div class="authentication-container"></div>
        }
        <div class="header">
            <div class="float-left">
                <p class="site-title">@Html.ActionImage("Index", "Home", "~/Images/ScreenVcLogo.png", "LogoImage here")</p>
            </div>
            <div class="float-right">
                <div class="headerSearch"><input type="text" /></div>
                <nav>
                    <ul id="menu">

                        <li>@Html.ActionLink("HOME", "Index", "Home")</li>
                        <li>@Html.ActionLink("BROWSE PROJECTS", "BrowseProjects", "Home")</li>
                        <li>@Html.ActionLink("MY FAVORITE", "Index", "Home")</li>
                        <li>@Html.ActionLink("HISTORY", "About", "Home")</li>
                        <li>@Html.ActionLink("CONTACT", "Contact", "Home")</li>
                        <li>@Html.ActionLink("#USERNAME", "Contact", "Home")</li>
                    </ul>
                </nav>
            </div>
            <br class="clear" />
        </div>
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
    </div>
    <footer class="footer">
        <div class="content-wrapper">
            <div>
                <p>&copy; @DateTime.Now.Year - Screen.Vc.</p>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @*<script src="~/Scripts/layout.js"></script>*@
    @RenderSection("scripts", required: false)
</body>
</html>